/* Global Styles */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header, nav, main, footer {
    display: flex;
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically */
    flex-wrap: wrap; /* Allow elements to wrap on smaller screens */

  }
  
  header {
    padding: 20px 0;
    background-color: #f0f0f0;
    padding: 10px;
  }
  .header h1{
    padding: 20px;
  }
  nav {
    background-color: #e0e0e0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2, h3 {
    margin: 10px 0;
  }
  
  img {
    max-width: 100%;
  }
  .hero-image{
    background-image: -o-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;

  }
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
  }
  .hero-overlay p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  .hero-overlay a {
    background-color: #333;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    border: 400px;
  }
  .hero-overlay a:hover{
    background: #f0f0f0 ;
    color: #1601fb;
    text-decoration: underline;
  }
  .events ul, .spotlights ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  .midblock{
    display:inline-block;
  }
  .events{
    height: 200px;
    width: 80%;
    align-items: center;
  }
  .weather{
    height: 200px;
    width: 80%;
    align-items: center;
  }
  .events li, .spotlights li {
    margin-bottom: 10px;
  }
  
  .spotlights {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .spotlights img {
    margin-bottom: 10px;
    width: 85%;
    height: auto;
  }
  
  footer {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  /* Media Queries (adjust as needed) */
  
  @media (max-width: 780px) {
    .spotlights article {
      width: 75%; /* Adjust for two columns on smaller screens */
    }
  }
  